---
layout: base
title: julia elman
id: homepage
---
<header>
	<span class="intro">THIS IS...</span>
	<h1>{{ page.title }}</h1>
	<p>Lead Designer at <a href="http://trinket.io">trinket</a> in the beautiful state of North Carolina.</p>
	<ul class="social">
		<li>
			<a href="https://twitter.com/juliaelman/">
				<img src="/static/images/twitter.png" alt="Follow me on Twitter">
			</a>
		</li>
        <li>
        	<a href="https://google.com/+juliaelman">
        		<img src="/static/images/google.png" alt="Follow me on Google Plus">
        	</a>
        </li>
        <li>
        	<a href="https://github.com/juliaelman">
        		<img src="/static/images/github.png" alt="Follow me on Github">
        	</a>
        </li>
        <li>
        	<a href="http://dribbble.com/juliaelman/">
        		<img src="/static/images/dribbble.png" alt="Follow me on Dribbble">
        	</a>
        </li>
        <li>
        	<a href="http://www.linkedin.com/in/juliaelman">
        		<img src="/static/images/linkedin.png" alt="Connect with me on LinkedIN">
        	</a>
        </li>
    </ul>
</header>

<div class="posts">
	<h2>posts</h2>
	{% for post in site.posts %}
	  	<article>
		    {% unless post.next %}
		      <h3>{{ post.date|date: '%Y' }}</h3>
		    {% else %}
		      	{% capture year %}{{ post.date|date: '%Y' }}{% endcapture %}
		      	{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		      	{% if year != nyear %}
		        	<h3>{{ post.date|date: '%Y' }}</h3>
		      	{% endif %}
		    {% endunless %}
		    <p>
		    	<a href="{{ post.url }}">
		    		{{ post.title }}
		    	</a>
		    	<time>{{ post.date|date: '%d %B' }}</time>
		    </p>
		</article>
	{% endfor %}
</div>

<div class="talks">
	<h2>talks</h2>
	<article>
		<p>
			<a href="http://www.pytennessee.org/schedule/presentation/42/">
			To the Moon and Back: Taking the Leap Towards Solving Big Problems
			</a>
		</p>
		<p class="time">2014 PyTennessee</p>
	</article>
	<article>
		<p>
			<a href="http://www.secondconf.com/2013/">
			To the Moon and Back: Taking the Leap Towards Solving Big Problems
			</a>
		</p>
		<p class="time">2013 SecondConf</p>
	</article>
	<article>
		<p>
			<a href="http://www.oscon.com/oscon2013/public/schedule/detail/28590">
				Developers &amp; Designers: Collaborating on your Open Source project
			</a>
		</p>
		<p class="time">2013 OSCON</p>
	</article>
	<article>
		<p>
			<a href="http://lanyrd.com/2013/pycon/scdyym/">
				Developers &amp; Designers: Collaborating on your Python project
			</a>
		</p>
		<p class="time">2013 PyCon</p>
	</article>
	<article>
		<p>
			<a href="http://lanyrd.com/2012/pycarolinas/syhmt/">
				Working with Designers
			</a>
		</p>
		<p class="time">2012 PyCarolinas </p>
	</article>
	<article>
		<p>
			<a href="http://lanyrd.com/2012/djangocon-us/sxbyd/">
				Is Django for Designers?
			</a>
		</p>
		<p class="time">2012 DjangoCon</p>
	</article>
</div>
