 <footer>
  <div class="social">
    <a href="https://github.com/juliaelman" title="Follow me on Github">
      Github
    </a>
    <a href="https://twitter.com/juliaelman/" title="Follow me on Twitter">
      Twitter
    </a>
    <a href="http://www.linkedin.com/in/juliaelman" title="Connect with me on LinkedIN">
      LinkedIn
    </a>
  </div>
  <div class="contact">
    <p>For general inquiries or advising, please feel free to:</p>
    <a href="" class="button">write to me</a>
  </div>
</footer>