 <footer>
  <ul class="social">
    <li><a href="https://github.com/juliaelman" title="Follow me on GitHub">
      GitHub
    </a></li>
    <li><a href="https://twitter.com/juliaelman/" title="Follow me on Twitter">
      Twitter
    </a></li>
    <li><a href="https://www.linkedin.com/in/juliaelman" title="Connect with me on LinkedIN">
      LinkedIn
    </a></li>
  </ul>
  <div class="contact">
    <p>For general inquiries or advising, please feel free to:</p>
    <p><a href="mailto:hello@juliaelman.com?subject=Hello,%20Julia!%20Let's%20talk." class="button">write to me.</a></p>
  </div>
</footer>
