 <footer>
  <script src="/assets/js/prism.js" data-default-language="markup"></script>
  <div class="copyright">
    &copy;{{ site.time | date: '%Y'}} Julia Elman, Opinions are my own.
  </div>
  <div class="social">
    <a href="https://twitter.com/juliaelman/" title="Follow me on Twitter">
      <i class="fa fa-twitter"></i>
    </a>

    <a href="https://github.com/juliaelman" title="Follow me on Github">
      <i class="fa fa-github"></i>
    </a>

    <a href="http://dribbble.com/juliaelman/" title="Follow me on Dribbble">
      <i class="fa fa-dribbble"></i>
    </a>

    <a href="http://www.linkedin.com/in/juliaelman" title="Connect with me on LinkedIN">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</footer>