<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% if page.title %}
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta property="og:title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}" />
    <meta name="twitter:title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}">
  {% else %}
    <title>{{ site.title }} | {{ site.description }}</title>
    <meta property="og:title" content="{{ site.title | xml_escape }} | {{ site.title | xml_escape }}" />
    <meta property="twitter:title" content="{{ site.title | xml_escape }} | {{ site.title | xml_escape }}" />
  {% endif %}
  <meta property="og:image" content="/assets/images/panda-circle.png">
  
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="julia elman, web design, design, front-end developer, django, python, css, html, javascript">
  <meta name="author" content="Julia Elman">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/images/touch_icon.png">

  <link rel="stylesheet" href="/assets/stylesheets/base.css">

</head>