{% assign current = page.url | downcase | split: '/' %}
<a class="menu-btn button"></a>
<nav role="navigation" aria-label="Main Navigation" class="menu">
  <ul>
    <li>
      {% if current[1] == 'about' %}
        About
      {% else %}
        <a href="/about/">About</a>
      {% endif %}
    </li>
    <li>
      {% if current[1] == 'writing' %}
        Writing
      {% else %}
        <a href="/writing/">Writing</a>
      {% endif %}
    </li>
    <li>
      {% if current[1] == 'speaking' %}
        Speaking
      {% else %}
        <a href="/speaking/">Speaking</a>
      {% endif %}
    </li>
    <li>
      {% if current[1] == 'work' %}
        Work
      {% else %}
        <a href="/work/">Work</a>
      {% endif %}
    </li>
    <li><a href="mailto:hello@juliaelman.com?subject=Hello, Julia!">Contact</a></li>
  </ul>
</nav>