{% assign current = page.url | downcase | split: '/' %}
<a href="javascript:void(0)" class="menu-btn">
  <span class="sr-only">MENU</span>
</a>
<nav role="navigation" aria-label="Main Navigation" class="menu">
  <ul>
    <li>
      {% if current[1] == 'about' %}
        About
      {% else %}
        <a href="/about/">About</a>
      {% endif %}
    </li>
    <li>
      {% if current[1] == 'writing' %}
        Writing
      {% else %}
        <a href="/writing/">Writing</a>
      {% endif %}
    </li>
    <li>
      {% if current[1] == 'speaking' %}
        Speaking
      {% else %}
        <a href="/speaking/">Speaking</a>
      {% endif %}
    </li>
    <li>
      {% if current[1] == 'work' %}
        Work
      {% else %}
        <a href="/work/">Work</a>
      {% endif %}
    </li>
    <li>
      <a href="https://docs.google.com/document/d/1H1zzX3LqO5IPQk0h22jSTjSOq8sXRRRpp65OtGSUJqQ/edit?usp=sharing">
        CV
      </a>
    </li>
    <li><a href="mailto:hello@juliaelman.com?subject=Hello, Julia!">Contact</a></li>
  </ul>
</nav>