--- 
--- 

@charset 'utf-8';

// Imports
// ====================
@import 'fonts.css';
@import 'reset.css';
@import 'syntax.css';

// Mixins
// ====================
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
  @if $mq2==false {
    @media ($maxmin: $mq01) {
      @content;
    }
  }
  @else {
    @media (min-width: $mq01) and (max-width: $mq2) {
      @content;
    }
  }
}

@mixin font-size-map($font-size-map) {
  @each $breakpoint,
  $font-size in $font-size-map {
    @if $breakpoint==null {
      font-size: $font-size;
    }
    @else {
      @include breakpoint($breakpoint) {
        font-size: $font-size;
      }
    }
  }
}

// Variables
// ====================
// Responsive
$large: 1200px;
$medium: 1024px;
$small: 720px;
$xsmall: 480px;

// Fonts
$html-font-size: ( null: 18px, $medium: 15px, $small: 14px, $xsmall: 13px);
$h1-font-size: ( null: 48px, $small: 36px, $xsmall: 24px);
$h2-font-size: ( null: 36px, $small: 24px);
$h3-font-size: ( null: 24px, $small: 18px);
$sub-head: ( null: 24px, $large: 24px, $medium: 20px, $xsmall: 15px);
$paragraph-font-size: ( null: 18px, $large: 17px, $medium: 16px, $small: 15px, $xsmall: 14px);

// Colors
$cream: #ECE5D3;
$emerald: #01AD99;
$gray: #231F20;

// Generic
// ====================
*,
*:before,
*:after {
  
  box-sizing: border-box;
}

// Screen reader only
.sr-only {
  
  left: -999em;
  position: absolute;
}

// Typography
// ====================
html {
  @include font-size-map($html-font-size);
  
  &.no-js {
    
    background-color: #cd0000;
    
  }
}

body {
  
  background-color: $cream;
  color: $gray;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

h1 {
  @include font-size-map($h1-font-size);
}

h2 {
  
  @include font-size-map($h2-font-size);
  margin-bottom: 1em;
  margin-top: 1em;
}

h3 {
  @include font-size-map($h3-font-size);
}

h1,
h2,
h3 {
  
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p,
ul {
  
  @include font-size-map($paragraph-font-size);
  line-height: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

pre {
  
  color: #FFFFFF;
  padding: 2em;
}

a {
  
  color: $gray;
  font-weight: 300;
  
  &:hover {
    
    color: $emerald;
  }
}

blockquote {
  border-left: 6px solid $gray;
  font-style: italic;
  margin-left: -26px;
  margin-top: -1px;
  margin: 45px 0;
  padding-bottom: 3px;
  padding-left: 20px;
}

time {
  
  font-size: 14px;
  text-transform: uppercase;
  
  @media (max-width: $large) {
    
    font-size: 11px;
  }
}

#content {
  
  padding-bottom: 40px;
}

.title {
  
  @media (max-width: $xsmall) {
    margin-top: 2em;
  }
}

.subtitle {
  
  font-size: 1.2em;
  line-height: 1.8;
}

h3 {
  margin-top: 1.5em;
  
  &:first-of-type {
    
    margin-top: 2em;
  }
}

// Images
// ====================
img {
  width: 100%;
}

img.profile {
  
  clear: both;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  width: 350px;
  
  @media (max-width: $small) {
    width: 200px;
  }
}

// Grid
// ====================
.container {
  
  display: block;
  margin: auto;
  max-width: $small;
  
  @media (max-width: $large) {
    
    padding-left: 25px;
    padding-right: 25px;
  }
}

// Footer
// ====================
footer {
  
  @extend .container;
  
  .social {
    
    float: left;
    
    li {
      padding-top: 10px;
      &:first-of-type {
        padding-top: 0;
      }
    }
  }
  .contact {
    
    float: right;
    
    @media (max-width: $small) {
      
      width: 70%;
    }
  }
}

// Header
// ====================
header[role="banner"] {
  
  padding-top: 25px;
  position: relative;
  
  h1 {
    
    display: inline;
    
    a {
      
      font-weight: 700;
      text-decoration: none;
    }
    
    img {
      
      position: relative;
      top: 6px;
      width: 50px;
      
      @media (max-width: $xsmall) {
        
        width: 30px;
      }
    }
  }
}

// Navigation
// ====================
.skipnav {
  
  background: $cream;
  border-bottom: 2px solid $gray;
  border-right: 2px solid $gray;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
  
  &:focus {
    
    left: 0;
    outline: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
  }
}

nav {
  
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 300;
  
  li {
    
    display: inline-block;
    font-weight: 700;
    margin-left: 8px;
    
    @media (max-width: $medium) {
      
      display: block;
      
    }
  }
}

.menu_mobile {
  
  nav {
    
    @media (max-width: $medium) {
    
      height: 100%;
      left: 110%;
      position: fixed;
      width: 108%;
    }
  }

  .menu-btn {
    
    @extend .button;
    
    display: none;
    float: right;
    
    &:after {
      
      content: 'MENU';
    }
    
    @media (max-width: $medium) {
      display: block;
      margin-top: 15px;
    }
    
    @media (max-width: $xsmall) {
      
      margin-top: 5px;
    }
  }
}

#overlay {
  
  height: 100%;
  left: 100%;
  position: fixed;
  width: 100%;
}

.menu--active {
  nav {
    
    float: none;
    padding-top: 50px;
    
    li {
      
      display: block;
      font-size: 28px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 10px;
    }
    
    a:hover {
      
      color: $gray;
      font-weight: 700;
    }
  }
  
  .menu-btn:after {
    content: 'X';
  }
}

// Button
// ====================
.button {
  
  border: 3px solid $gray;
  color: $gray;
  cursor: pointer;
  font-weight: 700;
  min-width: 80px;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  &:hover {
    
    background-color: $emerald;
    color: $gray;
  }
  
  @media (max-width: $small) {
    
    border: 2px solid $gray;
    font-size: 10px;
    min-width: 60px;
  }
}

// Home
// ====================
#home {
  
  #content {
    
    padding-top: 20px;
    
    @media (max-width: $medium) {
      
      padding-top: 30px;
      
    }
    
    p {
      margin-top: 1em; 
      font-size: 20px;
      
      @media (max-width: $small) {
        
        font-size: 18px;
        
      }
    }
  }
}

// Post
// ====================
.post {
  
  header {
    
    padding-bottom: 20px;
    
    @media (max-width: $medium) {
      padding-top: 20px;
      
    }
    
    > h2 {
      margin-bottom: 0;
    }  
  }
  
  h3:first-of-type{
    
    margin-top: 1.5em;
    
  }
  
  li {
    
    list-style: disc;
    margin: 1.5em 2em;
  }
}

#disqus_thread {
  
  background-color: #FFFFFF;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px;
}

// 404
// ====================
#fourofour {
  
    background: url('/assets/images/fourofour.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size: cover;
    
    #content {
      
      background: #FFFFFF;
      margin: 0 auto;
      opacity: 0.9;
      padding: 50px 40px;
      position: relative;
      top: 100px;
      width: 50%;
      
      @media (max-width: $medium) {
        
        padding: 40px 30px;
        width: 70%;
      }
    }
}
