---
---
@charset 'utf-8';

// Imports
// ====================
@import 'syntax.css';
@import 'reset.css';
@import 'fonts.css';


// Mixins
// ====================
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }
    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: $font-size;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size;
            }
        }
    }
}

// Variables
// ====================

// Responsive values
$large: 1170px;
$medium: 1024px;
$small: 640px;
$xsmall: 480px;

$html-font-size: (
  null: 16px, 
  $medium: 15px, 
  $small: 14px, 
  $xsmall: 13px);

$h1-font-size: (
  null: 48px, 
  $small: 30px);

$h2-font-size: (
  null: 30px, 
  $small: 30px);

$h3-font-size: (
  null: 36px, 
  $small: 24px);

$h4-font-size: (
  null: 24px, 
  $small: 20px);

$sub-head: (
  null: 24px, 
  $large: 24px, 
  $medium: 20px, 
  $xsmall: 15px);

$paragraph-font-size: (
  null: 18px, 
  $large: 17px, 
  $medium: 16px, 
  $small: 15px, 
  $xsmall: 14px);

// Generic
// ====================

html {
  @include font-size-map($html-font-size);
}

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

h1 { @include font-size-map($h1-font-size); }
h2 { @include font-size-map($h2-font-size); }
h3 { @include font-size-map($h3-font-size); }
h4 { @include font-size-map($h4-font-size); }

h1,
h2 {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p { 
  @include font-size-map($paragraph-font-size); 
}

.container {
  display: block;
  margin: auto;
  max-width: $medium;
	
	@media (max-width: $large) {
    padding-left: 25px;
    padding-right: 25px;
	}
}

footer {
	@extend .container;
}

pre {
  color: #FFFFFF;
  padding: 2em;
  
}
