---
layout: base
---

<div class="post">
  <h3>
    {{ page.title }}
  </h3>
  <time datetime="{{ page.date | date_to_xmlschema }} pubdate">
  PUBLISHED: {{ page.date|date:'%d %B, %Y' }}
  </time>
  {{ content }}
</div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = "http://juliaelman.com{{ page.url }}";
    this.page.identifier = "{{ page.title | escape }}";
  };
  (function() {  // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
      
    s.src = '//juliaelman.disqus.com/embed.js';
      
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}